<header>
  <app-navbar></app-navbar>
</header>
<main>
  <list-showcase-images></list-showcase-images>
  <div class="container">
    <!-- Collapsible Forms Listing -->
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">add</i>Upload Showcase Image</div>
        <div class="collapsible-body">
          <!-- Component for Image Upload -->
          <form-upload></form-upload>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">message</i>Message Management</div>
        <div class="collapsible-body">
          <!-- Component to List Messages on Server -->
          <list-messages></list-messages>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">image</i>Image Management</div>
        <div class="collapsible-body">
          <!-- Component to Serve Images -->
          <list-all-images></list-all-images>
        </div>
      </li>
    </ul>
  </div>
</main>