<!-- With Parallax -->

<div id="services" class="section white">
  <ul class="service-selector">
    <li>
      <h2 class="center">Our Services</h2>
    </li>
  </ul>
  <br>
  <div class="container">
    <div class="row">
      <div class="col s12 l4">
        <div>
          <div class="center-align">
            <i class="fas fa-paint-brush fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker">Face Painting & Balloon Twisting</div>
          <p class=" flow-text ">Add some sparkle to little faces with our face painting! Our beautiful designs are sure to delight little pixies
            and their parents.
          </p>
        </div>
      </div>
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <div class="center-align">
              <i class="fas fa-globe fa-3x"></i>
            </div>
          </div>
          <br>
          <div class="heading center-align pinker ">Craft Activities</div>
          <p class="flow-text ">Buzzing with excitement and creativity, our craft workshops are facilitated by confident and talented artists who
            are dedicated to ensuring your kids have a fantastic and fun creative experience.
          </p>
        </div>
      </div>
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <i class="fas fa-star fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker ">Characters</div>
          <p class="flow-text ">Ahoy there, mateys! At Pixie Paint, we use any excuse to get dressed up and have fun. From fairies to pirates,
            witches to elves, our bubbly characters are sure to surprise and delight at any occasion.
          </p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <i class="fas fa-birthday-cake fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker ">Parties</div>
          <p class="flow-text ">Let Pixie Paint bring the fun to you. Give us a call to discuss your upcoming event and how we can make it magical.
            From concept and planning to taking care of event on the day, let us help you throw an event to be remembered!
          </p>
        </div>
      </div>
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <i class="fas fa-bullhorn fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker ">Activations & Events</div>
          <p class="flow-text ">Let Pixie Paint help you inspire excitement and engagement among your customers to bring your products and space
            to life! Creating beautiful bespoke events tailored just for you, we make sure we understand your vision and
            sense of style to create the event of your dreams.
          </p>
        </div>
      </div>
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <i class="fas fa-microphone fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker ">Spruikers, MCs & Game Hosts</div>
          <p class="flow-text ">See how our entertaining hosts can add energy and creativity to your event. Be it spruiking the fabulous products
            at a market day, hosting a themed quiz night or throwing a good old fashioned game of Bingo, Pixie Paint MCs
            and Hosts add fun and flair to any occasion!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="../../../../assets/img/testimonial2.jpg">
  </div>
</div>


<!--   Without Parallax -->

<!-- <div class="container">
  <div class="row">
    <div class="col s12 l6">
      <img class="responsive-img" src="../../../../assets/img/showcase2.jpg">
      <div class="action-button">
        <a class="btn-floating btn-large waves-effect waves-light light-blue darken-1 modal-trigger" href="#modal2" title="Click me">
          <i class="material-icons">add</i>
        </a>
      </div>
      <div id="modal2" class="modal">
        <div class="modal-content white-text flow-text">
          <h4>Facepainting fun</h4>
          <p>all the colours pixies love</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat left white-text flow-text">Close</a>
        </div>
      </div>
    </div>
    <div class="col s12 l6">
      <section class="testimonial-image">
        <div class="primary-overlay">
          <div class="caption-container center-align">
            <div class="container">
              <div class="row">
                <div class="col s12 m12 l12">
                  <p class="white-text flow-text">This is a testimonial Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, cupiditate Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Vitae, tenetur quisquam.</p>
                  <p class="white-text italic flow-text">Rockingham shopping centre </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<section id="services" class="section">
  <ul class="service-selector">
    <li>
      <h2 class="center">Our Services</h2>
    </li>
  </ul>
  <br>
  <div class="container">
    <div class="row">
      <div class="col s12 l4">
        <div>
          <div class="center-align">
            <i class="fas fa-paint-brush fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker">Face Painting & Balloon Twisting</div>
          <p class=" flow-text ">Add some sparkle to little faces with our face painting! Our beautiful designs are sure to delight little pixies
            and their parents.
          </p>
        </div>
      </div>
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <div class="center-align">
              <i class="fas fa-globe fa-3x"></i>
            </div>
          </div>
          <br>
          <div class="heading center-align pinker ">Craft Activities</div>
          <p class="flow-text ">Buzzing with excitement and creativity, our craft workshops are facilitated by confident and talented artists who
            are dedicated to ensuring your kids have a fantastic and fun creative experience.
          </p>
        </div>
      </div>
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <i class="fas fa-star fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker ">Characters</div>
          <p class="flow-text ">Ahoy there, mateys! At Pixie Paint, we use any excuse to get dressed up and have fun. From fairies to pirates,
            witches to elves, our bubbly characters are sure to surprise and delight at any occasion.
          </p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <i class="fas fa-birthday-cake fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker ">Parties</div>
          <p class="flow-text ">Let Pixie Paint bring the fun to you. Give us a call to discuss your upcoming event and how we can make it magical.
            From concept and planning to taking care of event on the day, let us help you throw an event to be remembered!
          </p>
        </div>
      </div>
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <i class="fas fa-bullhorn fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker ">Activations & Events</div>
          <p class="flow-text ">Let Pixie Paint help you inspire excitement and engagement among your customers to bring your products and space
            to life! Creating beautiful bespoke events tailored just for you, we make sure we understand your vision and
            sense of style to create the event of your dreams.
          </p>
        </div>
      </div>
      <div class="col s12 l4 ">
        <div>
          <div class="center-align">
            <i class="fas fa-microphone fa-3x"></i>
          </div>
          <br>
          <div class="heading center-align pinker ">Spruiking, MCing & Game Hosting</div>
          <p class="flow-text ">See how our entertaining hosts can add energy and creativity to your event. Be it spruiking the fabulous products
            at a market day, hosting a themed quiz night or throwing a good old fashioned game of Bingo, Pixie Paint MCs
            and Hosts add fun and flair to any occasion!
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->