<section class="section scrollspy" id="about">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <ul class="about-selector">
          <li>
            <h2 class="center">About Us</h2>
          </li>
        </ul>
        <p class="flow-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur corporis quo atque, ad assumenda aliquid neque
          eum quam, provident perspiciatis, consequuntur exercitationem possimus. Consequatur sunt, reiciendis nemo ipsa
          eius natus nihil, in facere iste tenetur earum, voluptate quas? Est rem cumque reprehenderit laborum eum tempore
          deserunt esse error illo nulla sequi autem, consequatur ad dolorum similique cum nam omnis a molestias mollitia
          aliquam! Aliquid eaque autem tempore dicta ipsam incidunt nulla delectus eveniet magni. Obcaecati odio itaque ipsum,
          molestiae, praesentium ad reprehenderit cum eligendi quod autem, libero voluptatibus sed nesciunt. Officiis, id.
          Iste doloremque tempora ea hic delectus ratione? Eveniet.</p>
      </div>
      <div class="col s12 l6">
        <div class="showcase-one">
          <div class="action-button">
            <a class="btn-floating btn-large waves-effect waves-light light-blue darken-1 modal-trigger" href="#modal1" title="Click me">
              <i class="material-icons">add</i>
            </a>
          </div>
          <div id="modal1" class="modal">
            <div class="modal-content white-text flow-text">
              <h4>Valentines day</h4>
              <p>check out our awesome display for valentines at Rockingham Centre</p>
            </div>
            <div class="modal-footer white-text flow-text">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>