<footer class="page-footer pixie-yellow-bg" (window:resize)="onResize()">
  <div class="container">
    <div class="row">
      <div class="center-align">
        <a id="footerLogo">
          <img src="../../../assets/img/logo_footer.png" alt="">
        </a>
      </div>
      <div class="col l12 s12 center-align">
        <ul>
          <li class="footer-links">
            <a class="black-text text-lighten-3 light" href="#home">Home</a>
          </li>
          <li class="footer-links">
            <a class="black-text text-lighten-3 light" href="#about">About</a>
          </li>
          <li class="footer-links">
            <a class="black-text text-lighten-3 light" href="#services">Services</a>
          </li>
          <li class="footer-links">
            <a class="black-text text-lighten-3 light" href="#contact">Contact</a>
          </li>
          <li class="footer-links">
            <a class="black-text text-lighten-3 light" routerLink="gallery">Gallery</a>
          </li>
        </ul>
        <a class="btn-floating btn-large waves-effect waves-light light-blue darken-1 right" title="Return to top" href="#home">
          <i class="material-icons ">arrow_upward</i>
        </a>
      </div>
    </div>
    <div class="row ">
      <div class="col s12 l12 center-align ">
        <a href="https://www.facebook.com/PixiePaintPerth/ ">
          <i class="fab fa-facebook-square fa-3x "></i>
        </a>
        <a href="https://www.instagram.com/pixiepaintperth/?hl=en ">
          <i class="fab fa-instagram fa-3x "></i>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright ">
    <div class="container black-text ">
      <div class="row ">
        <div class="col s12 m6 l6 copyright">
          <p> © 2018 Pixie Paint</p>
        </div>
        <div id="footer-container" class="col s12 m6 l6 center-align right">
          <p class="light">Website by
            <a href="{{ linkedIn_M }}" class="light black-text">Mark Schafers &</a>
            <a href="{{ linkedIn_A }}" class="light black-text">Ashleigh Clark</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>