<footer class="page-footer grey lighten-4 ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="heading black-text">Pixie Paint</p>
        <p class="black-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore perferendis quasi dicta tenetur, minus in repudiandae
          nemo neque necessitatibus quis!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li>
            <a class="black-text text-lighten-3 light" href="#home">Home</a>
          </li>
          <li>
            <a class="black-text text-lighten-3 light" href="#about">About</a>
          </li>
          <li>
            <a class="black-text text-lighten-3 light" href="#services">Services</a>
          </li>
          <li>
            <a class="black-text text-lighten-3 light" href="#contact">Contact</a>
          </li>
          <li>
            <a class="black-text text-lighten-3 light" routerLink="gallery">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
      © 2018 Pixie Paint
      <a href="" class="black-text right">Designed and created by ...</a>
    </div>
  </div>
</footer>