.testimonial-image {
  position: relative;
  background: url('../../../../assets/img/testimonial2.jpg');
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.primary-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contact-selector li {
  opacity: 0;
}

.testimonial-selector li {
  opacity: 0;
}

.italic {
  font-style: italic;
}

.showcase-three {
  background: url('../../../../assets/img/showcase3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}

/* .parallax-container {
  height: 700px;
} */
