<section class="section">
  <div class="container">
    <div class="center">
      <img class="responsive-img" src="../../../../assets/img/logo_stars.png" alt="">
    </div>
    <ul class="testimonial-selector">
      <li>
        <h2 class="center pixie-pink">Testimonials</h2>
        <br>
      </li>
    </ul>
    <div class="row">
      <div class="col s12 m4 l4 card">
        <div class="card-content">
          <p class="flow-text italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius exercitationem asperiores ducimus veritatis voluptate
            sit minima? Odio qui nam maxime sed blanditiis nulla deserunt ducimus?</p>
          <p class="flow-text right-align">Author</p>
        </div>
      </div>
      <div class="col s12 m4 l4 card">
        <div class="card-content">
          <p class="flow-text italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius exercitationem asperiores ducimus veritatis voluptate
            sit minima? Odio qui nam maxime sed blanditiis nulla deserunt ducimus?</p>
          <p class="flow-text right-align">Author</p>
        </div>
      </div>
      <div class="col s12 m4 l4 card">
        <div class="card-content">
          <p class="flow-text italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius exercitationem asperiores ducimus veritatis voluptate
            sit minima? Odio qui nam maxime sed blanditiis nulla deserunt ducimus?</p>
          <p class="flow-text right-align">Author</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="parallax-container">
  <div class="parallax" *ngIf="file1">
    <img src="{{file1.url}}">
  </div>
</div>
<div class="mob-img-container">
  <div class="mobile-img" *ngIf="file1">
    <img src="{{file1.url}}" class="responsive-img" alt="">
  </div>
</div>

<section class="section scrollspy" id="contact">
  <div class="container">
    <div class="center">
      <img class="responsive-img" src="../../../../assets/img/logo_stars.png" alt="">
    </div>
    <ul class="contact-selector">
      <li>
        <h2 class="center pixie-pink">Contact Us</h2>
        <br>
      </li>
    </ul>
    <br>
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col s12 m4 l4 center-align">
            <a href="mailto:hello@pixiepaint.com.au" class="contact-link center">
              <i class="fas fa-envelope fa-2x pixie-blue"></i>
            </a>
            <br>
            <h5 class="pixie-purple heading">Email</h5>
            <p class="flow-text">hello@pixiepaint.com.au</p>
          </div>
          <div class="col s12 m4 l4 center-align">
            <i class="fas fa-phone fa-2x pixie-blue"></i>
            <br>
            <h5 class="pixie-purple heading">Telephone</h5>
            <p class="flow-text">0438 940 723</p>
          </div>
          <div class="col s12 m4 l4 center-align">
            <a href="#contactForm" class="contact-link">
              <i class="fas fa-comment-alt fa-2x pixie-blue"></i>
            </a>
            <br>
            <h5 class="pixie-purple heading">Direct Message</h5>
            <p class="flow-text">see below</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="parallax-container">
  <div class="parallax" *ngIf="file2">
    <img src="{{file2.url}}">
  </div>
</div>
<div class="mob-img-container">
  <div class="mobile-img" *ngIf="file2">
    <img src="{{file2.url}}" class="responsive-img" alt="">
  </div>
</div>

<div class="section white">
  <div class="row container">
    <section class="section scrollspy" id="contactForm">
      <div class="container">
        <div class="center">
          <img class="responsive-img" src="../../../../assets/img/logo_stars.png" alt="">
        </div>
        <form #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm)">
          <p class="center-align heading pixie-pink">How can we make your event magical?</p>
          <br>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix pixie-blue">account_circle</i>
              <input name="firstName" type="text" class="validate" [(ngModel)]="firstName" required>
              <label for="firstName" data-error="First name required" data-success="Valid">First Name</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix pixie-blue">account_circle</i>
              <input name="lastName" type="text" class="validate" [(ngModel)]="lastName" required>
              <label for="lastName" data-error="Last name required" data-success="Valid">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix pixie-blue">email</i>
              <input type="email" name="email" class="validate" [(ngModel)]="email" required>
              <label for="email" data-error="Valid email address required" data-success="Valid">Email</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix pixie-blue">phone</i>
              <input type="text" name="telephone" class="validate" [(ngModel)]="telephone" required>
              <label for="telephone" data-error="Telephone required" data-success="Valid">Phone Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix pixie-blue">message</i>
              <textarea class="materialize-textarea validate" name="messageContent" cols="30" rows="10" [(ngModel)]="messageContent" required></textarea>
              <label for="messageContent" data-error="Message required" data-success="Valid">Message</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12 center">
              <button [disabled]="!messageForm.form.valid" class="btn pixie-blue-bg waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax" *ngIf="file3">
    <img src="{{file3.url}}">
  </div>
</div>
<div class="mob-img-container">
  <div class="mobile-img" *ngIf="file3">
    <img src="{{file3.url}}" class="responsive-img" alt="">
  </div>
</div>