<section class="section">
  <div class="container">
    <div class="center">
      <img class="responsive-img" src="../../../../assets/img/logo_stars.png" alt="">
    </div>
    <!-- Section for large testimonial -->
    <ul>
      <li>
        <p class="flow-text italic">
          <i class="fas fa-quote-left pixie-blue"></i> I was looking for a talented face painter/entertainer for Rockingham Centre and came across Pixie Paint. After
          a trial I was very impressed with the professionalism and quality of service I received from Pixie Paint. I decided
          to explore further options to deliver unique experiences to our shoppers.</p>
        <p class="flow-text italic">Across many projects, Pixie Paint have worked one-on-one with our team to create bespoke, premium services for our
          centre. From ‘Cooking with Mrs Claus’ over Christmas, to our ongoing Market Day events and Seniors Bingo, Pixie
          Paint have delivered quality services that always bring in a great crowd.</p>
        <p class="flow-text italic">Their customer service, attention to detail and creativity mean that I can trust them to deliver beautiful services
          that our shoppers enjoy. Can’t recommend them enough.
          <i class="fas fa-quote-right pixie-blue"></i>
        </p>
        <p class="right-align">Premo Jacniacki, Marketing Manager, Vicinity Centres</p>
      </li>
    </ul>
  </div>
</section>
<!-- Parallax Image Container -->
<div class="parallax-container">
  <div *ngIf="files">
    <div *ngFor="let file of files">
      <!-- Image -->
      <div class="parallax" *ngIf="file.name == 'showcase3.jpg'">
        <img src="{{file.url}}">
      </div>
      <!-- Caption -->
      <div class="parallax-caption" *ngIf="file.name == 'showcase3.jpg'">
        <p class="white-text shadow italic">{{file.caption}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Resized Image for Mobile -->
<div class="mob-img-container">
  <div *ngIf="files">
    <div *ngFor="let file of files">
      <!-- Image -->
      <div class="mobile-img" *ngIf="file.name == 'showcase3.jpg'">
        <img src="{{file.url}}" class="responsive-img" alt="">
      </div>
      <!-- Caption -->
      <div class="parallax-caption" *ngIf="file.name == 'showcase3.jpg'">
        <p class="white-text shadow italic">{{file.caption}}</p>
      </div>
    </div>
  </div>
</div>
<!-- Section Seperation with Scrollspy Detection -->
<section class="section scrollspy" id="contact">
  <div class="container">
    <!-- Image Banner -->
    <div class="center">
      <img class="responsive-img" src="../../../../assets/img/logo_stars.png" alt="">
    </div>
    <!-- Section Header -->
    <h2 class="center pixie-pink">Contact Us</h2>
    <br>
    <!-- Row to Allow Column Structure -->
    <div class="row">
      <!-- Email -->
      <div class="col s12 m12 l4 center-align">
        <a href="mailto:hello@pixiepaint.com.au" class="contact-link center">
          <i class="fas fa-envelope fa-2x pixie-blue"></i>
        </a>
        <h5 class="pixie-purple heading">Email</h5>
        <p class="flow-text truncate" title="hello@pixiepaint.com.au">hello@pixiepaint.com.au</p>
      </div>
      <!-- Telephone -->
      <div class="col s12 m12 l4 center-align">
        <i class="fas fa-phone fa-2x pixie-blue"></i>
        <br>
        <h5 class="pixie-purple heading">Telephone</h5>
        <p class="flow-text">0438 940 723</p>
      </div>
      <!-- Direct Message - Link to Form Below -->
      <div class="col s12 m12 l4 center-align">
        <a href="#contactForm" class="contact-link">
          <i class="fas fa-comment-alt fa-2x pixie-blue"></i>
        </a>
        <br>
        <h5 class="pixie-purple heading">Direct Message</h5>
        <p class="flow-text">see below</p>
      </div>
    </div>
  </div>
</section>
<!-- Parallax Image Container -->
<div class="parallax-container">
  <div *ngIf="files">
    <div *ngFor="let file of files">
      <div class="parallax" *ngIf="file.name == 'showcase4.jpg'">
        <!-- Image -->
        <img src="{{file.url}}">
      </div>
      <!-- Caption -->
      <div class="parallax-caption" *ngIf="file.name == 'showcase4.jpg'">
        <p class="white-text shadow italic">{{file.caption}}</p>
      </div>
    </div>
  </div>
</div>
<!-- Resized Image for Mobile -->
<div class="mob-img-container">
  <div *ngIf="files">
    <div *ngFor="let file of files">
      <div class="mobile-img" *ngIf="file.name == 'showcase4.jpg'">
        <!-- Image -->
        <img src="{{file.url}}" class="responsive-img" alt="">
      </div>
      <!-- Caption -->
      <div class="parallax-caption" *ngIf="file.name == 'showcase4.jpg'">
        <p class="white-text shadow italic">{{file.caption}}</p>
      </div>
    </div>
  </div>
</div>
<!-- Section with Scrollspy Detection -->
<section class="section scrollspy" id="contactForm">
  <div class="container">
    <!-- Image Banner -->
    <div class="center">
      <img class="responsive-img" src="../../../../assets/img/logo_stars.png" alt="">
    </div>
    <!-- Actual Contact Form Content -->
    <form #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm)">
      <h2 class="center-align pixie-pink">How can we make your event magical?</h2>
      <br>
      <div class="row">
        <!-- First Name -->
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix pixie-blue">account_circle</i>
          <input name="firstName" type="text" class="validate" [(ngModel)]="firstName" required>
          <label for="firstName" data-error="First name required" data-success="Valid">First Name</label>
        </div>
        <!-- Last Name -->
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix pixie-blue">account_circle</i>
          <input name="lastName" type="text" class="validate" [(ngModel)]="lastName" required>
          <label for="lastName" data-error="Last name required" data-success="Valid">Last Name</label>
        </div>
      </div>
      <div class="row">
        <!-- Email -->
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix pixie-blue">email</i>
          <input type="email" name="email" class="validate" [(ngModel)]="email" required>
          <label for="email" data-error="Valid email address required" data-success="Valid">Email</label>
        </div>
        <!-- Phone Number -->
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix pixie-blue">phone</i>
          <input type="text" name="telephone" class="validate" [(ngModel)]="telephone" required>
          <label for="telephone" data-error="Telephone required" data-success="Valid">Phone Number</label>
        </div>
      </div>
      <div class="row">
        <!-- Message Content -->
        <div class="input-field col s12">
          <i class="material-icons prefix pixie-blue">message</i>
          <textarea class="materialize-textarea validate" name="messageContent" cols="30" rows="10" [(ngModel)]="messageContent" required></textarea>
          <label for="messageContent" data-error="Message required" data-success="Valid">Message</label>
        </div>
      </div>
      <div class="row">
        <!-- Submission Button -->
        <div class="input-field col s12 m12 l12 center">
          <button [disabled]="!messageForm.form.valid" class="btn pixie-blue-bg waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- Slider section for smaller testimonials -->
<div class="container">
  <div class="slider">
    <ul class="slides white">
      <li>
        <p class="flow-text italic">
          <i class="fas fa-quote-left pixie-blue"></i> Thank you Pixie Paint for hosting Ava’s birthday! The party was so much fun and my daughter felt like a princess
          on her special day. We’ll definitely be recommending you to our friends!

          <i class="fas fa-quote-right pixie-blue"></i>
        </p>
        <p class="right-align">Sarah, Mount Lawley</p>
      </li>
    </ul>
  </div>
</div>
<!-- Parallax Image Container -->
<div class="parallax-container">
  <div *ngIf="files">
    <div *ngFor="let file of files">
      <!-- Image -->
      <div class="parallax" *ngIf="file.name == 'showcase5.jpg'">
        <img src="{{file.url}}">
      </div>
      <!-- Caption -->
      <div class="parallax-caption" *ngIf="file.name == 'showcase5.jpg'">
        <p class="white-text shadow italic">{{file.caption}}</p>
      </div>
    </div>
  </div>
</div>
<!-- Resized Image for Mobile -->
<div class="mob-img-container">
  <div *ngIf="files">
    <div *ngFor="let file of files">
      <!-- Image -->
      <div class="mobile-img" *ngIf="file.name == 'showcase5.jpg'">
        <img src="{{file.url}}" class="responsive-img" alt="">
      </div>
      <!-- Caption -->
      <div class="parallax-caption" *ngIf="file.name == 'showcase5.jpg'">
        <p class="white-text shadow italic">{{file.caption}}</p>
      </div>
    </div>
  </div>
</div>