<div>
  <nav class="pinned">
    <div class="container">
      <div class="nav-wrapper">
        <a href="" class="brand-logo right light black-text">
          <img src="../../../assets/img/logo_nav.png" alt="">
        </a>
        <a href="" data-activates="mobile-nav" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
          <li>
            <a href="#about" class="light">About</a>
          </li>
          <li>
            <a href="#services" class="light">Services</a>
          </li>
          <li>
            <a href="#contact" class="light">Contact</a>
          </li>
          <li>
            <a routerLink="gallery" class="light">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="side-nav" id="mobile-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/assets/img/side_nav.jpg" alt="sidenav-background">
      </div>
      <a href="/" class="side-nav-logo">
        <img src="/assets/img/logo_nav.png" alt="logo">
      </a>
    </div>
  </li>
  <li>
    <a class="ref-link" href="/">Home</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">Who Are We?</a>
  </li>
  <li>
    <a class="ref-link" href="#home">About Us</a>
  </li>
  <li>
    <a class="ref-link" href="#services">Our Services</a>
  </li>
  <li>
    <a class="ref-link" href="#contact">Contact Us</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="ref-link" routerLink="gallery">Gallery</a>
  </li>
</ul>