<div>
  <nav class="pinned ">
    <div class="container">
      <div class="nav-wrapper">
        <a href="" class="brand-logo right light black-text">
          <img src="../../../assets/img/logo_nav.png" alt="">
        </a>
        <a href="" data-activates="mobile-nav" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
          <li>
            <a routerLink="" routerLinkActive="hide" [routerLinkActiveOptions]="{exact:
              true}" class="heavy">Home</a>
          </li>
          <li>
            <a href="#about" class="heavy">About</a>
          </li>
          <li>
            <a href="#services" class="heavy">Services</a>
          </li>
          <li>
            <a href="#contact" class="heavy">Contact</a>
          </li>
          <li>
            <a routerLink="/gallery" routerLinkActive="hide" class="heavy">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="side-nav" id="mobile-nav">
  <div class="container center">
    <img src="/assets/img/logo_nav.png" alt="logo">
  </div>
  <li>
    <a routerLink="" routerLinkActive="hide" [routerLinkActiveOptions]="{exact:
        true}" class="heavy white-text ref-link">Home</a>
  </li>
  <li>
    <a class="heavy white-text ref-link" href="#about">About</a>
  </li>
  <li>
    <a class="heavy white-text ref-link" href="#services">Services</a>
  </li>
  <li>
    <a class="heavy white-text ref-link" href="#contact">Contact</a>
  </li>
  <li>
    <a class="heavy white-text ref-link" routerLink="/gallery" routerLinkActive="hide">Gallery</a>
  </li>
</ul>