<div>
  <nav class="pinned">
    <div class="container">
      <div class="nav-wrapper">
        <a href="" class="brand-logo right light black-text">
          <img src="../../../assets/img/logo_nav.png" alt="">
        </a>
        <a href="" data-activates="mobile-nav" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
          <li>
            <a href="#about" class="light">About</a>
          </li>
          <li>
            <a href="#services" class="light">Services</a>
          </li>
          <li>
            <a href="#contact" class="light">Contact</a>
          </li>
          <li>
            <a routerLink="gallery" class="light">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="side-nav" id="mobile-nav">
  <li>
    <div class="user-view">
      <div class="background">

      </div>
    </div>
  </li>
  <li>
    <a href="#home">Home</a>
  </li>
  <li>
    <a href="">About</a>
  </li>
  <li>
    <a href="">Services</a>
  </li>
  <li>
    <a href="">Contact</a>
  </li>
  <li>
    <a href="" routerLink="gallery">Gallery</a>
  </li>
</ul>