@import 'styles.css';

nav {
  background: rgba(192, 132, 244, 0.7);
  box-shadow: 0px 1px 6px #c084f4;
  z-index: 1;
}

.side-nav-logo{
  margin-left: 80px;
}

.pinned {
  position: fixed;
}

.background{
  height: 120px;
}