<section class="section">
  <div class="container">
    <br>
    <div class="center-align">
      <br>
      <br>
      <img class="responsive-img" src="../../../../assets/img/logo_stars.png" alt="">
      <h2 class="pixie-pink">@pixiepaintperth</h2>
      <div>
        <p class="center flow-text pixie-purple">This gallery is from our Instagram page. Check back daily for updates</p>
        <iframe src="//lightwidget.com/widgets/8c0bb1af2e775c53a4b298fd9e731106.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"
          style="width: 100%; border: 0; overflow: hidden;"></iframe>
      </div>
    </div>
  </div>
</section>