<section class="section">
  <div class="container">
    <br>
    <div class="center-align">
      <br>
      <br>
      <div class="center" id="ig-frame">
        <h3 class="extra-light">
          <i class="fab fa-instagram"></i>
        </h3>
      </div>
      <br>
      <div class="row">
        <div id="ig-feed" class="col s12 m12 l12">
          <p class="right">This gallery is from our Instagram page. Check back daily for updates</p>
          <h4 class="left light">@monseiurmystere</h4>
          <iframe src="//lightwidget.com/widgets/b2a3538a9e7159a891d238d65602ea04.html" 
          scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;">
        </iframe>
        </div>
      </div>
    </div>
  </div>
</section>