.ig-feed {
  padding: 36px;
}

.main-header {
  background: url('/assets/img/showcase1_bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 350px;
  position: relative;
}

.showcase {
  padding-top: 70px;
}
