/* You can add global styles to this file, and also import other style files */

.light {
  font-weight: 300;
}

.heading {
  font-size: 2.5rem;
  font-weight: 400;
}

.caption-heading {
  font-size: 7rem;
}

.shadow {
  text-shadow: 1px 1px 5px #000;
}

.pinker {
  color: #ff00ff;
}

.footer-links {
  display: inline;
  margin: 5px;
}

.caption-container {
  padding-top: 50px;
  padding-bottom: 50px;
}
