/* You can add global styles to this file, and also import other style files */
nav {
  box-shadow: none !important;
  height: 70px !important;
}

.light {
  font-weight: 300;
}

.extra-light {
  font-weight: 100;
}

.heavy {
  font-weight: 600;
}

.shadow {
  text-shadow: 1px 1px 5px #000;
}

.heading {
  font-size: 2.5rem;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.pixie-pink {
  color: #ff00ff;
}

.pixie-purple {
  color: #9933ff;
}

.pixie-blue {
  color: #039be5;
}

.pixie-blue-bg {
  background-color: #039be5 !important;
}

.pixie-yellow-bg {
  background-color: #ffca00 !important;
}

.footer-links {
  display: inline;
  margin: 5px;
}

.parallax-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}

.mob-img-container {
  position: relative;
}
