<!-- Container for Responsive Layout -->
<div class="container">
  <div class="row">
    <!-- Content for Messages -->
    <div class="col s12 m12 l12">
      <p>Key: {{messages.key}}</p>
      <p>Name: {{messages.firstName}} {{messages.lastName}}</p>
      <p>Email: {{messages.email}}</p>
      <p>Message content: {{messages.messageContent}}</p>
    </div>
  </div>
  <div class="row">
    <!-- Delete Message Action -->
    <div class="col s12 m12 l12">
      <button (click)='deleteMessage(messages.key)' class="btn" style="float: right">Delete</button>
    </div>
  </div>
</div>