<div class="loader-container">
  <div class="main-loader">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div id="home" class="slider scrollspy">
    <ul class="slides slider-custom">
      <li *ngIf="files?.length > 0;">
        <img src="{{files[0].url}}" alt="">
        <div class="caption right-align">
          <h3 class="light shadow pinker caption-heading">{{files[0].captionTitle}}</h3>
          <h4 class="light shadow">{{files[0].captionBody}}</h4>
        </div>
      </li>
      <li *ngIf="files?.length == 2;">
        <img src="{{files[1].url}}" alt="">
        <div class="caption right-align ">
          <h3 class="light shadow pinker caption-heading">{{files[1].captionTitle}}</h3>
          <h5 class="light shadow">{{files[1].captionBody}}</h5>
        </div>
      </li>
    </ul>
  </div>
</div>