<!-- <div class="loader-container">
  <div class="main-loader">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div id="home" class="scrollspy main-header">
  <div class="primary-overlay">
    <div class="showcase container white-text center-align">
      <h1 class="light shadow caption-heading">Welcome to Pixie Paint</h1>
      <p class="flow-text bigger-text shadow">fun for little pixies</p>
    </div>
  </div>
</div>